@{
ViewData["Title"] = "Pagina Principală";
}

<h2>Bun venit pe site-ul nostru de rezervări de bilete!</h2>
<p>Experimentează comoditatea rezervării de bilete pentru filmele tale preferate. Cu interfața noastră prietenoasă, rezervarea biletelor nu a fost niciodată mai ușoară.</p>
<p>Alătură-te newsletter-ului nostru pentru a fi mereu la curent cu cele mai noi filme. Nu rata nicio oportunitate interesantă și abonează-te astăzi!</p>
<p>Începe călătoria cu noi și trăiește experiențe de neuitat. Rezervă-ți biletele acum și creează amintiri care vor dura o viață întreagă.</p>
<p>Vă mulțumim că ați ales site-ul nostru de rezervări de bilete!</p>