@model ProiectIP.Models.Movie

<div class="container">
    <h2>Confirmare achiziție</h2>
    <br />

    <h3>Film achiziționat:</h3>
    <p>Titlu: @ViewData["MovieTitle"]</p>
    <p>Cantitate: @ViewData["Quantity"]</p>

    <br />

    <a href="/movies">Înapoi la lista de filme</a>
</div>