@{
    ViewData["Title"] = "Home Page";
}

  @foreach(var item in Model)
  {
          <div class="film">
              <img src="@item.ImageURL" alt="Nume Film">
          <div class="film-details">

                  <h2><a href="/movies/movie/@item.Id">@item.Title</a></h2>
          <p>2D</p>
              <p>Pret : @item.Price</p>
          </div>
        </div>
    <br></br>
  }