.sala {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }

  .scaun {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #000;
    cursor: pointer;
  }

  .scaun.ocupat {
    background-color: grey;
  }

  .scaun.selectat {
    background-color: red;
  }

  .scaun.liber {
    background-color: green;
  }